.container{
    box-shadow: 2px 5px 8px #c131bcb0, 2px -3px 8px #790b7c;
    width: 100%;
    padding: 10px;
    background-color: #042940;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: fixed; */
    z-index: 1;
}


.containerLogo{
    color: #fff;
    cursor: pointer;
    transition: .7s;
    display: flex;
    align-items: center;
}

.containerLogo:hover{
    transition: .7s;
    color: #DBF227;
    
}

.serachContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #005C53;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 14.5px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: #DBF227 solid 1px;
    
}

.btn:hover{
    box-shadow: 2px 5px 8px #9FC131, 2px -3px 8px #DBF227;
}
   
   .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .btn:hover span {
    padding-right: 15px;
   }
   
   .btn:hover span:after {
    opacity: 1;
    right: 0;
   }

.btnExit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #005C53;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 14.5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: #DBF227 solid 1px;
    width: 35px;
    height: 35px;
}

.btnExit:hover{
    box-shadow: 2px 5px 8px #9FC131, 2px -3px 8px #DBF227;
}
   
   .btnExit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .btnExit span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .btnExit:hover span {
    padding-right: 15px;
   }
   
   .btnExit:hover span:after {
    opacity: 1;
    right: 0;
   }

   .photo{
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


  
@media (max-width: 600px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .containerLogo{
        font-size: 12px;
    }
}



@media (max-width: 998px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        position: absolute;
    }

    .photo{
        display: none;
    }

    .containerLogo{
        font-size: 12px;
    }

    .serachContainer{
        display: flex;
        flex-direction: column;
    }

    .btnExit{
        width: 50px;
        height: 50px;
    }
}



