.containerError{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #110501e8;
    flex-wrap: wrap;
    min-width: 400px;
    margin-top: 20vh;
}

.textoUps{
    font-size: 50px;
    color: #fff;
}
.texto{
    color: #fff;
    font-size: 30px;
    max-width: 900px;
    
}

.link{
    text-decoration: underline;
}

.imgError{
    width: 500px;
    border-bottom: 1px solid #dddddd6c;
}