.containerP{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 2px 5px 8px #9FC131, 2px -3px 8px #DBF227;
    background-color: #ddd;
    gap: 15px;
    opacity: 0.8;
    margin-top: 90px;

}


p{
    font-size: 1.7rem;
    text-align: left;
    color: #000;
}