.h1Fav{
  /* margin-top: 115px; */
  color: aliceblue;
  font-size: 2.5em;
  box-shadow: 
  rgba(3, 31, 156, 0.3) 0px 9px 28px, 
  rgba(49, 3, 66, 0.22) 0px 12px 12px;
  width: 240px;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerCards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
