

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row-reverse;
}

.containerH2{
    box-shadow: 2px 5px 8px #b800e6, 2px -3px 8px #DBF227;
    width: 350px;
    margin: 0 auto;
    background-color: #1b1b1b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.titloH2{
    margin-top: 30px;
    font-size: 30px;
    color: #ddd; 
    margin-top: 100px;
    
}
.tituloH1{
    text-transform: uppercase;
    color: #fff;
}

strong{
    font-size: 18px;
}

.ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 310px;
    height: 280px;
    padding: 5px;
    border-radius: 5px;
    background-color: #DBF227;
    transition: all .4s;
    box-shadow: 0px 0px 30px 1px rgb(0, 181, 84);

}

.list{
    list-style: none;
}

.image{
    width: 310px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 1px rgba(181, 0, 0, 0.801);
    
}

.btn{
    display: inline-block;
    border-radius: 4px;
    background-color: #005C53;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 14.5px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: #DBF227 solid 1px;
}

.btn:hover{
    box-shadow: 2px 5px 8px #9FC131, 2px -3px 8px #DBF227;
}


.loading{
    display: flex;
    margin-top: 10%;
}

.loader {
    color: #11423d;
    display: flex;
    position: relative;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .loader::after {
    content: '';  
    width: 5px;
    height: 5px;
    background: currentColor;
    position: absolute;
    bottom: 10px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 10px 0 #005C53, 20px 0 rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 10px 0 #005C53, 20px 0 #005C53;
    }
  }




@media (max-width: 950px) {
    .titloH2{
        margin-top: 300px;
    }
}
@media (max-width: 700px) {
    .titloH2{
        margin-top: 300px;
    }

    .container2{
        flex-direction: column-reverse;
    }

}