@import url("https://fonts.googleapis.com/css?family=Russo+One|Ubuntu");


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.App {
   text-align: center;
   font-family: 'Ubuntu', sans-serif;
   /* font-family: 'Russo One', sans-serif; */

}

hr{
   margin: 10px;
   padding: 10px;
   background-color: transparent;
   border: none;
}

body{
  background-image: url('./img/rick4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  
}

@media (max-width: 768px) {
   body{
      background-image: url('./img/bodyImg.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      background-attachment: fixed;
      
      
   }
}

