.navContainer{
    color: #000;
    font-size: 18px;
    padding: 20px;
    background-color: crimson;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: #fff;
   
}

span{
    cursor: pointer;
}
span:hover{
   color: #000;
}

@media (max-width: 830px) {
    .nav{
        justify-content: space-between;
    }
}