.container{
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.input{
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 14px;
    width: 30vh;
}

.btn{
    width: auto;
    padding: 5px;
}