@import url("https://fonts.googleapis.com/css?family=Russo+One|Ubuntu");


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.App {
   text-align: center;
   font-family: 'Ubuntu', sans-serif;
   /* font-family: 'Russo One', sans-serif; */

}

hr{
   margin: 10px;
   padding: 10px;
   background-color: transparent;
   border: none;
}

body{
  /* background-image: url('./img/rick2.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  
/* background-color: black; */
}
