.containerP{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 2px 5px 38px #df08bb, 2px -3px 48px #DBF227;
    background-color: #dddddd;
    gap: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.titleContainer{
    display: flex;
    width: 100%;
}

p{
    font-size: 1.7rem;
    text-align: left;
    color: #000;
}

.imagen{
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    transition: .7s;
    
}

.imagen:hover{
    transform: scale(1.1);
   
}

.containerIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}
.icon{
    font-size: 2.5em;
    color: #000;
}

.g:hover{
    color: #40088d;
    font-weight: bold;
    transform: scale(1.3);
}
.l,.g,.w{
    transition: 1s;
}

.l:hover{
    color: #0808e6;
    font-weight: bold;
    transform: scale(1.3);
}

.w:hover{
    color: #08be17;
    font-weight: bold;
    transform: scale(1.3);
}

@media (max-width: 998px) {
    .imagen{
        width: 310px;
    }
    .containerP{
        width: 400px;
        margin-top: 220px;
    }

    p{
        font-size: 1.5rem;
        text-align: left;
        color: #000;
    }
   

}

@media (max-width: 950px) {
    .imagen{
        width: 230px;
    }
    .containerP{
        width: 400px;
        margin-top: 280px;
    }

    p{
        font-size: 1.4rem;
        text-align: left;
        color: #000;
    }

}
@media (max-width: 949px) {
    .imagen{
        width: 280px;
    }
    .containerP{
        width: 400px;
        margin-top: 280px;
    }

    p{
        font-size: 1.4rem;
        text-align: left;
        color: #000;
    }

}


@media (max-width: 500px) {
    .imagen{
        width: 230px;
    }
    .containerP{
        width: 310px;
        margin-top: 320px;
       
    }

    h1{
        font-size: 1.4rem;
    }

    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 1.3rem;
        text-align: left;
        color: #000;
    }
    .icon{
        font-size: 2rem;
        color: #000;
    }

}

@media (max-width: 400px) {
    .imagen{
        width: 230px;
    }
    .containerP{
        width: 310px;
        margin-top: 340px;
       
    }

    h1{
        font-size: 1.4rem;
    }

    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 1.3rem;
        text-align: left;
        color: #000;
    }
    .icon{
        font-size: 2rem;
        color: #000;
    }

}



