.containerP{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 2px 5px 8px #df08bb, 2px -3px 8px #DBF227;
    background-color: #ddd;
    gap: 15px;
    opacity: 0.8;
    margin-top: 90px;}

.titleContainer{
    display: flex;
    width: 100%;
}

.h1About{
    /* margin-top: 20px; */
    color: aliceblue;
    font-size: 2.5em;
    text-transform: uppercase;
    box-shadow: 
    rgba(3, 31, 156, 0.3) 0px 9px 28px, 
    rgba(49, 3, 66, 0.22) 0px 12px 12px;
    padding: 5px;
    border-radius: 5px;
    margin:0 auto;
    width: 240px;
}

p{
    font-size: 1.7rem;
    text-align: left;
    color: #000;
}

.imagen{
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    transition: .7s;
    
}

.imagen:hover{
    transform: scale(1.1);
   
}

.containerIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}
.icon{
    font-size: 2.5em;
    color: #000;
}

.g:hover{
    color: #40088d;
    font-weight: bold;
    transform: scale(1.3);
}
.l,.g,.w{
    transition: 1s;
}

.l:hover{
    color: #0808e6;
    font-weight: bold;
    transform: scale(1.3);
}

.w:hover{
    color: #08be17;
    font-weight: bold;
    transform: scale(1.3);
}


@media (max-width: 950px) {
    .imagen{
        width: 230px;
    }
    .containerP{
        width: 400px;
        margin-top: 280px;
    }

    p{
        font-size: 1.4rem;
        text-align: left;
        color: #000;
    }

}

/* @media (max-width: 768px) {
          
    .containerP{
        width: 200px;
    }

} */