.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

a{
    text-decoration: none;
}

Link{
    color: red;
}

@media (max-width: 950px) {
    .titloH2{
        margin-top: 300px;
    }
}
